.container{
width: 100% !important;
height: 100vh !important;
}
    
    .leaderboard {
position: relative;

    }
  
      .leaderboardImg2{
        position: absolute;
        top: -50px;
      }
     .img-sec{
        display: flex;
        flex-direction: column;
        align-items: center;
        
     }