<div>
    <div class="container addstudents">
      <mat-card>
        <mat-card-content>
          <form class="example-form" [formGroup]="addStudents" (ngSubmit)="addStudent()">
            <h1>Add New Student</h1>
          <div>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <mat-form-field class="example-full-width">
                  <mat-label>Full Name</mat-label>
                  <input matInput formControlName="name">
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-6">
                <mat-form-field class="example-full-width">
                  <mat-label>Phone Number</mat-label>
                  <input matInput type="number"  formControlName="phone_no">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <mat-form-field class="example-full-width">
                  <mat-label>School Name</mat-label>
                  <input matInput formControlName="school_name">
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-6">
                <mat-form-field class="example-full-width">
                  <mat-label>Admission Number</mat-label>
                  <input matInput type="number" formControlName="admission_no">
                </mat-form-field>
              </div>
            </div>
          
          </div>
      
      <div class="row" >
        <div class="col-sm-12 col-lg-4">
          <mat-form-field class="example-full-width">
            <mat-label>Class</mat-label>
            
          
                      
              
              <mat-select matNativeControl required formControlName="class_name">
                <ng-container >
                 
                  <mat-option *ngFor="let data of allClassDetails" value="{{data.class_name}}" (click)="getval(data.class_name)">{{data.class_name}}</mat-option>
                </ng-container>
                
                
              </mat-select>
           
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-lg-4">
          <mat-form-field class="example-full-width">
            <mat-label>Division</mat-label>
            <mat-select matNativeControl required formControlName="division" >
              <ng-container *ngFor="let data of data">
                <mat-option value="{{data.division}}">{{data.division}}</mat-option>
              </ng-container>
              
             
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-lg-4">
          <mat-form-field class="example-full-width">
            <mat-label>Year</mat-label>
            <mat-select matNativeControl required formControlName="batch_year" >
              <ng-container *ngFor="let data of data">
                <mat-option value="{{data.batch_year}}">{{data.batch_year}}</mat-option>
              </ng-container>
              
             
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
             
        <div class="col-sm-12 col-lg-12">
          <mat-form-field class="example-full-width">
            <mat-label>Subjcets</mat-label>
            
          
                      
              
              <mat-select matNativeControl required formControlName="subjects">
                <ng-container >
                 
                  <mat-option *ngFor="let data of data" value="{{data.subjects}}" >{{data.subjects}}</mat-option>
                </ng-container>
                
                
              </mat-select>
           
          </mat-form-field>
        </div>
      </div>
       
      <div class="text-end">
        <button type="submit" mat-raised-button color="warn" >Add Student</button>
      </div>
          </form>
        </mat-card-content>
      </mat-card>
      
     
     
            
    </div>
</div>

