<div class="container">
    <div class="py-3 text-center">
        <h1>Daily Video Updates</h1>
    </div>
    <div class="d-flex align-items-center justify-content-center gap-5 my-5 daily-update">
        <mat-card class="p-3" >
     <div class="">
        <div class="py-2">
            <h2>Select Class</h2>
            <mat-form-field>
          
                <mat-label>Choose Class</mat-label>
                <mat-select >

                    <mat-option value="{{data.class_name}}" *ngFor="let data of classes"  (click)="getval1(data.class_name)" >
                      {{data.class_name}}
                    </mat-option>
                
                </mat-select>
              </mat-form-field>
        </div>
      
     </div>
       
    </mat-card>
    <mat-card class="p-3" >
        <div class="">
           <div class="py-2">
               <h2>Select  Division</h2>
               <mat-form-field>
             
                   <mat-label>Choose Division</mat-label>
                   <mat-select >
   
                    <mat-option value="{{data.division}}" *ngFor="let data of data" (click)="getval2(data.division)" >
                        {{data.division}}
                      </mat-option>
                  
                   
                   </mat-select>
                 </mat-form-field>
           </div>
         
        </div>
          
       </mat-card>
       <mat-card class="p-3" >
        <div class="">
           <div class="py-2">
               <h2>Select Year</h2>
               <mat-form-field>
             
                   <mat-label>Choose year</mat-label>
                   <mat-select >
   
                    <mat-option value="{{data.class_name}}" *ngFor="let data of data" (click)="getval3(data.batch_year)" >
                        {{data.batch_year}}
                      </mat-option >
                   
                   </mat-select>
                 </mat-form-field>
           </div>
         
        </div>
          
       </mat-card>

   <div>
    <button class="btn btn-outline-danger p-3 bolder" style="width: 200px;" (click)="submittt()">Submit</button>
   </div>
    </div>
<!--  -->



    <div  *ngIf="subjects && subjects.length > 0">
        <mat-card class="p-3" >
     <div class="d-flex align-items-center justify-content-center gap-5 my-5 daily-update">
        <div class="py-2">
            <h2>Select Subject</h2>
            <mat-form-field>
          
                <mat-label>Choose Subject</mat-label>
                <mat-select >

                    <mat-option value="{{datas.subject}}"  *ngFor="let datas of subjects"  (click)="getid(datas)" >
                        {{datas.subject}}
                    </mat-option >
                
                </mat-select>
              </mat-form-field>
        </div>
        <div class="">
            <div class="py-2">
                <h2>Enter  Topic</h2>
                
                <mat-form-field color="accent">
                    <mat-label>Custom calendar color</mat-label>
                    <input matInput type="date" [(ngModel)]="date">
                  
                   
                  </mat-form-field>
                  
                 
            </div>
          
         </div>
           
      
      
         <div class="">
            <div class="py-2">
                <h2>Select  Link</h2>
                
                <mat-form-field appearance="outline">
                 <mat-label>Enter link</mat-label>
                 <input matInput placeholder="eg:-https://meet.google.com/wcp-qfbe-" [(ngModel)]="link" >
                
               </mat-form-field>
                 
            </div>
          
         </div> 
         <div >
            <button class="btn btn-outline-danger p-3 bolder" style="width: 200px;" (click)="upload()" >Upload</button>
           </div>
     </div>
       
    
     
   
        
          
       </mat-card>
          
      
      
    </div>
</div>