<div class="container">
    <mat-card class="p-2">
        <div>
            <h2>Select Batch</h2>
            <mat-form-field>
          
                <mat-label>Choose an option</mat-label>
                <mat-select  >

                    
                  <mat-option   >
                   sdsd
                </mat-option >
              
                </mat-select>
              </mat-form-field>
         </div>
         <table class="table">
            <thead>
              <tr>
               
                <th scope="col">Present Date</th>
                <th scope="col">Absent Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                
                <td>
  <p>present</p>
  <p>present</p>
  <p>present</p>

                </td>
                <td>
                    <p>absent</p>
                    <p>absent</p>
                    <p>absent</p>
                </td>
              </tr>
             
            </tbody>
          </table>
      </mat-card>


    
      
    
</div>
