<div class="container">
    <mat-card>
        <div>
            <h2>Select Batch</h2>
            <mat-form-field>
          
                <mat-label>Choose an option</mat-label>
                <mat-select >
                  <mat-option value="val1" >
                   vL
                </mat-option>
                <mat-option value="val2" >
                    vL2
                 </mat-option>
                </mat-select>
              </mat-form-field>
         </div>
        <mat-card-content>
            <h2>Platform information:</h2>
            <p>Is Android: </p>
            <p>Is Android: </p>
           
            <p>Is Android: </p>
           
            <p>Is Android: </p>
           
            <p>Is Android: </p>
           
            <p>Is Android: </p>
           
            <p>Is Android: </p>
           
            <p>Is Android: </p>
           
            <p>Is Android: </p>
           
            <p>Is Android: </p>
           
            <p>Is Android: </p>
           
           
             
        </mat-card-content>
      </mat-card>
      
    
</div>
