<div class="container">
    <mat-card>
        <div>
            <h2>Select Batch</h2>
            <mat-form-field>
          
                <mat-label>Choose an option</mat-label>
                <mat-select  >

                    
                  <mat-option *ngFor="let date of Date_date.dates" value="{{date}}" (click)="date_date(date)" >
                     {{date}}
                </mat-option >
              
                </mat-select>
              </mat-form-field>
         </div>
        <mat-card-content *ngFor="let item of studentsActivities">
           
      <p>admission_no:</p>
      <p>date:</p>
      <p>on_time:</p>
      <p>voice:</p>
      <p>nb_sub:</p>
      <p>mob_net:</p>
      <p>camera:</p>
      <p>full_class:</p>
      <p>activities:</p>
      <p>engagement:</p>
      <p>overall_performance_percentage:</p>
      <p>overall_performance:</p>
      <p>remarks:</p>
           
             
        </mat-card-content>
      </mat-card>


    
      
    
</div>
